<footer>
  <p><%= current_year %></p>
  <p>Никита</p>
  <p>
    <%= github_url('BystrovN', 'test_guru') %><br>
    <%= "Платформа для создания и прохождения разнообразных тестов." %>
  </p>
  <p><%= link_to "Учебный проект в онлайн-школе Thinknetica", "https://thinknetica.com" %></p>
</footer>
